[Desktop Entry]
Encoding=UTF-8
Name=Link to The Beads Project - Realtime Audio for Java and Processing
Type=Link
URL=http://www.beadsproject.net/
Icon=text-html
