/*

logo colors:
orange - ff7f00
grey - 666666
white - ffffff

*/

body {
	color: #666;
	margin-left: auto;		
}

#logo img {
	border: 0;	
}

#content {
	width: 600px;	
	margin:0 auto;
	text-align: left;
}

a {
	color: #666;
	font-size: 10pt;
}

.category h5 {
	color: #ff7f00;	
}

/* Same as processing.org reference sheet layout */
div.column { 
	width: 30%; 
    margin-right: 2%; 
    float: left; 
}


